.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius: 3px
}

.price {
  color: grey;
  font-size: 19px;
}

img {
  width: 100%;
  transition: all 1s;
}

img:hover {
  transform: scale(1.1);
}

.sticker {
 color: white;
  padding: 5px;
}

.percentage {
  float: left;
  background-color: #2196F3;
}

.sale {
  float: right;
  background-color: #2196F3;
}