.tags a {
		float: left;
		position: relative;
		width: auto;
		height: 30px;
		margin-right: 50px;
		padding: 0 15px;
		line-height: 30px;
		background: #1f8dd6;
		color: #fff;
		font-size: 16px;
		font-weight: 530;
		text-decoration: none;		
	}
 
	.tags a:before {
		content: "";
		position: absolute;
		top: 0;
		width: 0;
		height: 0;
		border-style: solid;		
}

.price-tag a:before {		
		right: -15px;	
		border-color: transparent transparent transparent #1f8dd6;
		border-width: 15px 0 15px 15px;
	}

	span {
    white-space: pre-wrap;
}